  {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      /*background-color: #ffffff;*/ /* Green */
      background-image: url("../../images/background/Transparent.png");
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #48466D; /* Dark Blue */
      color: #ffffff;
  }

  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #4F4F4F; /* Black Gray */
      color: #fff;
      height: 50px;
  }

  .bg-4-text{
      padding-top: 10px;
      color: #fff;
      text-align: center;
      font-size: 14px;
  }

  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

  .line{
  width: 100%;
  height: 10px;
  background-color: black;

}

/*login page*/
.form-login {
  max-width: 330px;
  margin: 100px auto 0;
  /*background: #fff;*/
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
  margin: 0;
  padding: 25px 20px;
  text-align: center;
 /* background: #ffdd00;*/
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

.login-wrap {
  padding: 25px;
}

.login-wrap .registration {
  text-align: center;
}

.login-social-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
}

.background-login {
    min-height: 100vh;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, .75), 
      rgba(0, 0, 0, .75)
    ),
    /* bottom, image */
    url(../images/login.png);


    /*background-image: url("../images/login.png");*/
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
  /*  background-color: #4E719D; */
    padding-top: 60px;
}

.button-ok{
  background-color: #F2994A;
  color: #fff;
}


/* Avatar */
.imgcontainer {
    text-align: right;
    padding-right: 0px;
    margin: 5px;
}

/* Avatar image */
img.avatar {
  margin-top: 1px;
    border-radius: 35%;
    margin-left: 50%;
  /* position: fixed;*/
   max-height: 50px;
 padding-bottom: 3px;
}

.username-avatar {
  margin-left: 80%;
  position: fixed;
}

/*image logo landing*/

.container-images-landing{
   margin-top: 150px;
  margin-left: 30%;
}

.text-landing{
  margin-top: 20px;
  margin-left: 45%;
  font-size: 10px;
  color: #202020;
  font-weight: bold;
}

.phone-image{
  margin-top: 150px;
  height: 500px;
  width: 400px;
}

.height-help{
  height: 750px;
}

.margin-help{
  margin-top: -30px;
}

/*card*/
.title-first-container{
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

.title-second-container{
  margin-top: -50px;
  font-size: 24px;
  font-weight: 700;
  margin-left: 300px;
  margin-right: 300px;
  padding: 50px;
  color: #009EF6;
  border-bottom: solid #009EF6;
}

.title-third-container{
  margin-top: -50px;
  font-size: 24px;
  font-weight: 700;
  margin-left: 300px;
  margin-right: 300px;
  padding: 30px;
  color: #fff;
  border-bottom: solid #fff;
}

.title-fourth-container{
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #333333;
  text-align: center;
  margin-top: 50px;
}


.third-container-text{
  text-align: center;
  font-size: 22px;
  color: #fff;
}

.card {
    background-color: #ffffff;
    width: 300px;
    height: 20000px;
  /*  overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;*/
}

.card-block {
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    height: auto;
    width:150px;
    margin-top: 20px;
    margin-left: 25%;
}

.card-title {
    font-size: 22px;
    font-weight: 700;
    color:#009EF6;
    margin: 20px;
    white-space:normal;

}

.card-text {
    color: rgba(0, 0, 0, .68);
    margin: 20px;
    font-size: 18px;
}

.card-test{
    background-color: #ffffff;
    width: 300px;
    height: 400px;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    margin-left: 50px;
    /*box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;*/
}

/*background skewed*/

.skewed-bg{
  background: #48466D;
  padding-top: 175px;
  transform: skew(0deg, 7deg);
  margin-top: -400px;  
  color: #fff;
}

.skewed-bg-sub{
  background: #00D8F4;
  padding: 200px 0;
  transform: skew(0deg, -7deg);
  margin-top: -10px;  
  color: #fff
}

 .content{
    margin-top: -100px;
    transform: skew(0deg, -7deg);
    text-align: center;
  }


.skewed-bg-2{
  background: #48466D;
  padding-top: 175px;
  transform: skew(0deg, -7deg);
  color: #fff;
  height: 500px;
}

 .content-2{
    margin-top: -100px;
    transform: skew(0deg, 7deg);
    text-align: center;
  }

  .skewed-bg-3{
  background: #48466D;
  padding-top: 175px;
  transform: skew(0deg, 7deg);
  height: 500px;
  color: #fff;
  margin-top: -325px;
}

 .content-3{
    margin-top: -250px;
    transform: skew(0deg, -7deg);
    text-align: center;
  }

/*accordion*/

.col-centered{
float: none;
margin: 0 auto;
}

a.accordion-toggle.on{
    color:#000000;
    text-align: left;
    display:inline-block;
    font-size: 24px;
    font-weight: bold;
}

.col-md-3{
    margin-bottom:20px;
}

p{
color:#000000;
text-align: left;
padding-left: 70px;
padding-right: 70px;
}

h4{
white-space: nowrap;
}

a.accordion-toggle.collapsed:hover{
text-decoration:underline;}
.panel-group{
    display:inline-block;
}
.panel-title{
white-space:nowrap;}

.container-image-download{
  padding-top: 50px;
  width: 350px;
  height: auto;
  margin-left: 35%;
  padding-bottom: 100px;
}