<h3><i class="fa fa-angle-right"></i> Add Soal</h3>
          	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">
                      <form class="form-horizontal style-form" method="get">


 						 <div class="form-group">
                         	<label class="col-sm-2 control-label">Kategori</label>
                         	<div class="col-sm-4 ">
                         	  <select class="form-control">
								  <option>1</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
							</select>
                         	</div>

                         	<label class="col-sm-2 control-label">Sub-Kategori</label>

                         <div class="col-sm-4 ">
                         	  <select class="form-control">
								  <option>1</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
							</select>
                         	</div>
                         </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Soal</label>
                              <div class="col-sm-10">
                                 <textarea rows="5" class="col-sm-12 text-area"></textarea>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Jawaban</label>
                            	<div class="col-sm-5">
 									<label class="col-sm-2 control-label">A</label>
                              		<div class="col-sm-10">
                                  		<input type="text" class="form-control">
                              		</div>
                            	  </div>

								<div class="col-sm-5">
 									<label class="col-sm-2 control-label">B</label>
                              		<div class="col-sm-10">
                                  		<input type="text" class="form-control">
                              		</div>
                            	  </div>            
                          </div>

                           <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label"></label>
                            	<div class="col-sm-5">
 									<label class="col-sm-2 control-label">C</label>
                              		<div class="col-sm-10">
                                  		<input type="text" class="form-control">
                              		</div>
                            	  </div>

								<div class="col-sm-5">
 									<label class="col-sm-2 control-label">D</label>
                              		<div class="col-sm-10">
                                  		<input type="text" class="form-control">
                              		</div>
                            	  </div>            
                          </div>

                           <div class="form-group">
                              <label class="col-sm-2 control-label">Jawaban Benar</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control">
                              </div>
                          </div>

                          <div class="btn-container"> 
                            <button type="button" class="btn btn-theme-add" >Add</button>
                            <button type="button" class="btn btn-theme" ng-click="cancelButton()" >Cancel</button>
                      </div>
                      </form>


                  </div>
          		</div>   	
          	</div><!-- /row -->
          	
          	