  <section id="container" >
    
    <!-- header start -->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips custom-white" type="checkbox" role="button" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>

            <!--logo start-->
            <a class="logo"><img src="images/pinterin-images.png" ></a>
            <!--logo end-->
             <form class="search-header">
                  <button class="fa fa-search fa-2x button-search" type="submit"></button>
                  <input class="input-search" placeholder="Search" type="text">
              </form>
            </div>
            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                  <button class="logout" ng-click="logoutButton()" >Logout</button>
              </ul>
            </div>
      </header>
      <!-- header end -->

      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="profile.html"><img src="images/avatar-2.png" class="img-circle" width="60"></a></p>
                  <h5 class="centered">Username</h5>
                    
                  <li class="mt">
                      <a href="javascript:void(0)" ng-click="dashboardButton()">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a class="active" href="javascript:void(0)" >
                          <i class="fa fa-book collapse" data-toggle="collapse" href="#soal-sub"></i>
                          <span>Soal</span>
                      </a>
                      <ul class="sub" id="soal-sub">
                          <li class="active"><a  href="javascript:void(0)" ng-click="kategoriButton()">Kategori</a></li>
                          <li><a  href="javascript:void(0)" ng-click="subKategoriButton()" >Sub-Kategori</a></li>
                          <li><a  href="javascript:void(0)" ng-click="soalButton()">Soal</a></li>
                          <li><a  href="javascript:void(0)" ng-click="jawabanButton()">Jawaban</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:void(0);" >
                          <i class="fa fa-globe"></i>
                          <span>Website</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="javascript:void(0)" ng-click="featuresButton()">Features</a></li>
                          <li><a  href="javascript:void(0)" ng-click="faqButton()" >FAQ</a></li>
                          <li><a  href="javascript:void(0)" ng-click="aboutButton()" >About</a></li>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>

       <section id="main-content">
          <section class="wrapper site-min-height">
            <div ui-view= "level2"> 

            <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">               
                          <h3><i class="fa fa-home"></i> Welcome to the dashboard!</h3>
                      </div>
                  </div>
             </div>
            </div>
        </section>
      </section>

     