<div id="login-page" class="background-login" >
	  	<div class="container" >
		      <form class="form-login">
		        <h2 class="form-login-heading">SIGN IN</h2>
		        <div class="login-wrap">
		            <input type="text" class="form-control" placeholder="User ID" autofocus ng-model="username">
		            <br>
		            <input type="password" class="form-control" placeholder="Password" ng-model="password">
					<br>
		            <button class="btn btn-theme btn-block button-ok" ng-click="loginButton($event)"><i class="fa fa-lock"></i> SIGN IN</button>
		             <button class="btn btn-theme btn-block" ng-click="cancelButton()">CANCEL</button>
		            <br>
		        </div>
		      </form>	  	
	  	
	  	</div>
</div>