 <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h4><i class="fa fa-angle-right"></i> Sub Kategori</h4>
	                  	  	  <hr>
                              <thead>
                              <tr>
                                  <th>#</th>
                                  <th class="hidden-phone">Nama Sub Ketegori</th>
                                  <th></th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td>1</td>
                                  <td class="hidden-phone">Lorem Ipsum dolor</td>
                                  <td>
                                      <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                      <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                  </td>
                              </tr>

                                 <tr>
                                  <td>2</td>
                                  <td class="hidden-phone">Lorem Ipsum dolor</td>
                                  <td>
                                      <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                      <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                  </td>
                              </tr>
       
                              </tbody>
                          </table>

                           <div class="btn-container"> 
                            <button type="button" class="btn btn-theme-add" ng-click="addSubKategoriButton()"><i class="fa fa-plus "></i></button>
                            <button type="button" class="btn btn-theme-delete"><i class="fa fa-trash-o "></i></button>
                         </div>
                           
                      </div>
                  </div>
  </div>